.button {
	padding: 1rem;
	font-family: "Mulish", sans-serif;
	border-radius: 0px;
	background-color: var(--colour-green);
	color: var(--colour-white);
	font-size: 1rem;
	border: none;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.button--light {
	background-color: var(--colour-light-green);
}
.button--dark {
	background-color: var(--colour-dark-green);
}
