.button {
	padding: 1rem;
	font-family: "Syne", sans-serif;
	border-radius: 0px;
	background-color: var(--colour-green);
	color: var(--colour-white);
	font-size: 1rem;
	border: none;
	margin-top: 1rem;
	margin-bottom: 1rem;
	transition: ease-in-out 1s;
}

.button {
	background-color: var(--colour-light-green);
}

.button--light {
	background-color: var(--colour-light-green);
}

.button--light:hover {
	background-color: var(--colour-green);
}

.button--dark {
	background-color: var(--colour-dark-green);
}

.button--dark:hover {
	background-color: var(--colour-green);
}
