/*
	Styling typography
*/
p,
.p {
	font-family: "Manrope", sans-serif;
	font-size: 1.1rem;
}

h2,
.h2 {
	font-family: "Mulish", sans-serif;
	font-size: 1.7rem;
}

h1,
.h1 {
	font-family: "Mulish", sans-serif;
	font-size: 1rem;
}

li {
	font-family: "Manrope", sans-serif;
	font-size: 1.1rem;
}
