/*
	Styling variables
*/
:root {
	--page-width: 100rem;
	--page-padding: 8rem;

	--margin: 3rem;

	--colour-white: #fff;
	--colour-black: #0000;

	--colour-green: #84aa76;
	--colour-dark-green: #093304;
	--colour-light-green: #b7dea9;

	--colour-beige: #f3f5f2;
	--colour-beige-green: #ebf3e7;
}
