/*
	Styling variables
*/
:root {
	--page-width: 100rem;
	--page-padding: 12rem;

	--colour-white: #fff;
	--colour-black: #0000;

	--colour-green: #84aa76;
	--colour-dark-green: #093304;
	--colour-light-green: #b7dea9;

	--colour-beige: #f3f5f2;
	--colour-beige-green: #ebf3e7;
}

@media (max-width: 768px) {
	:root {
		--page-padding: 4rem;
	}
}
@media (max-width: 480px) {
	:root {
		--page-padding: 2rem;
	}
}
