/*
	Styling landing-page
*/
.page-intro {
	display: flex;
	flex-direction: column;
	justify-content: end;
	background-color: var(--colour-green);
	background-repeat: no-repeat;
	background-size: cover;
	height: 60vh;
}

.page-intro__container {
	margin-bottom: 3rem;
	color: var(--colour-white);
}

.page-intro__introduction {
	max-width: 25%;
}
