/*
	Styling navigation-component
*/
.navigation {
	padding-top: 2rem;
	padding-bottom: 1rem;
	z-index: 1;
	position: fixed;
	top: 0rem;
	width: 100%;
	transition: ease-in-out 1s;
	--page-padding: 8rem;
}

.navigation--scroll {
	transition: ease-in-out 0.5s;

	.navigation__logo {
		filter: invert(1);
		transform: scale(1.3);
	}
	.navigation__link-texts {
		opacity: 1;
	}
}

.navigation:hover {
	background-color: rgba(0, 0, 0, 0.4);
	padding-top: 2.5rem;
	padding-bottom: 2.5rem;

	.navigation__logo {
		transform: scale(1.5);
		filter: invert(1);
	}

	.navigation__link-texts {
		opacity: 1;
	}
}

.navigation__link-texts:hover {
	transform: scale(1.2);
}

.navigation__container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	z-index: 100;
	max-width: 100%;
}

.navigation__logo {
	height: 5rem;
	transition: ease-in-out 1s;
}

.navigation__logo:hover {
	height: 6rem;
	transition: all 1s;
}

.navigation__link-container {
	display: flex;
	flex-direction: row;
	width: fit-content;
}

.navigation__link-texts {
	margin-right: 2rem;
	opacity: 0;
	text-decoration: none;
	color: var(--colour-white);
	transition: ease-in-out 1s;
	align-self: center;
}
